// Bootstrap Framework.
@import 'bootstrap';
// Base-theme overrides.
@import 'overrides';
// Bootswatch
@import 'bootswatch/variables';
@import 'bootswatch/bootswatch';

ul.menu--services-menu {
    li {
        border: 1px solid @brand-success;
        border-radius: 4px;
    }
}

section#block-languageswitcher {
    ul {
        list-style-type: none;
        li {
            display: inline;
        }
    }
}

div#views-bootstrap-services-block-services-caroussel > div.carousel-inner {
    div.item > div.carousel-caption {
        background: rgba(15, 15, 15, 0.60);
    }
}

.page-header {
    text-align: center;
}

div.homepage-services {
    margin-top: 10px;
    div.row {
        div.text-side {
            h3 {
                margin-top: 0;
            }
        }
        div.img-side {
            padding-left: 0;
            padding-right: 0;
            a > img {
                border-radius: 5px;
                width: 100%;
            }
        }
    }
}