{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if title %}
    {% if topics_page %}
        <div class="row">
            <div class="col-md-8">
                <h2{{ title_attributes.addClass('page-header') }}>{{ title }}</h2>
            </div>
            <div class="col-md-4">
                <a href="node/add/forum" class="btn btn-sm btn-success btn-block"><i class="far fa-comments"></i> Tangira ikiganiro</a>
            </div>
        </div>
    {% else %}
        <h2{{ title_attributes.addClass('page-header') }}>{{ title }}</h2>
    {% endif %}
{% endif %}
